{
  "openapi" : "3.0.1",
  "info" : {
    "title" : "API Design- OAS2.0&OAS3.0",
    "version" : "1.0"
  },
  "servers" : [ {
    "url" : "https://gcp-api.apiwiz.io/itorix",
    "x-name" : "Server1"
  }, {
    "url" : "https://gcp-api.apiwiz.io/",
    "x-name" : "Server2"
  } ],
  "paths" : {
    "/v1/swaggers/subscribe" : {
      "put" : {
        "tags" : [ "API Design- OAS2.0&OAS3.0" ],
        "summary" : "swaggerSubscribe",
        "operationId" : "swaggerSubscribe",
        "parameters" : [ {
          "name" : "Content-Type",
          "in" : "header",
          "schema" : {
            "type" : "string"
          },
          "example" : "application/json"
        }, {
          "name" : "interactionid",
          "in" : "header",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "Accept",
          "in" : "header",
          "schema" : {
            "type" : "string"
          },
          "example" : "application/json"
        }, {
          "name" : "JSESSIONID",
          "in" : "header",
          "schema" : {
            "type" : "string"
          },
          "example" : "{{jsessionid}}"
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "required" : [ "emailId", "name", "oas", "swaggerId", "swaggerName", "type" ],
                "type" : "object",
                "properties" : {
                  "oas" : {
                    "type" : "string"
                  },
                  "swaggerId" : {
                    "type" : "string"
                  },
                  "swaggerName" : {
                    "type" : "string"
                  },
                  "name" : {
                    "type" : "string"
                  },
                  "emailId" : {
                    "type" : "string"
                  },
                  "type" : {
                    "type" : "string"
                  }
                },
                "additionalProperties" : {
                  "type" : "object"
                },
                "description" : "Request Body",
                "example" : "{\n  \"oas\":\"2.0\",\n  \"swaggerId\":\"249064b235a94285a7d81a7702887486\",\n  \"swaggerName\":\"gautami\",\n  \"name\":\"gautami\",\n  \"emailId\":\"123@gmail.com\",\n  \"type\":\"DEVELOPER\"\n}"
              }
            }
          },
          "required" : false
        },
        "responses" : {
          "200" : {
            "description" : "Response for endpoint PUT-itorix/v1/swaggers/subscribe",
            "headers" : {
              "date" : {
                "description" : "response header",
                "schema" : {
                  "type" : "string"
                }
              },
              "content-length" : {
                "description" : "response header",
                "schema" : {
                  "type" : "string"
                }
              },
              "server" : {
                "description" : "response header",
                "schema" : {
                  "type" : "string"
                }
              },
              "expires" : {
                "description" : "response header",
                "schema" : {
                  "type" : "string"
                }
              },
              "x-envoy-upstream-service-time" : {
                "description" : "response header",
                "schema" : {
                  "type" : "string"
                }
              },
              "x-content-type-options" : {
                "description" : "response header",
                "schema" : {
                  "type" : "string"
                }
              },
              "x-xss-protection" : {
                "description" : "response header",
                "schema" : {
                  "type" : "string"
                }
              },
              "vary" : {
                "description" : "response header",
                "schema" : {
                  "type" : "string"
                }
              },
              "x-frame-options" : {
                "description" : "response header",
                "schema" : {
                  "type" : "string"
                }
              },
              "cache-control" : {
                "description" : "response header",
                "schema" : {
                  "type" : "string"
                }
              },
              "pragma" : {
                "description" : "response header",
                "schema" : {
                  "type" : "string"
                }
              },
              "strict-transport-security" : {
                "description" : "response header",
                "schema" : {
                  "type" : "string"
                }
              }
            }
          },
          "401" : {
            "description" : "Response for endpoint PUT-itorix/v1/swaggers/subscribe",
            "headers" : {
              "date" : {
                "description" : "response header",
                "schema" : {
                  "type" : "string"
                }
              },
              "server" : {
                "description" : "response header",
                "schema" : {
                  "type" : "string"
                }
              },
              "x-envoy-upstream-service-time" : {
                "description" : "response header",
                "schema" : {
                  "type" : "string"
                }
              },
              "transfer-encoding" : {
                "description" : "response header",
                "schema" : {
                  "type" : "string"
                }
              },
              "vary" : {
                "description" : "response header",
                "schema" : {
                  "type" : "string"
                }
              },
              "content-type" : {
                "description" : "response header",
                "schema" : {
                  "type" : "string"
                }
              }
            },
            "content" : {
              "*/*" : {
                "schema" : {
                  "required" : [ "error" ],
                  "type" : "object",
                  "properties" : {
                    "error" : {
                      "required" : [ "statusCode", "userMessage" ],
                      "type" : "object",
                      "properties" : {
                        "userMessage" : {
                          "type" : "string"
                        },
                        "statusCode" : {
                          "type" : "string"
                        }
                      }
                    }
                  },
                  "example" : "{\"error\":{\"userMessage\":\"Request Validation Failed. Invalid Session Token\",\"statusCode\":\"Identity-1026\"}}"
                }
              }
            }
          },
          "500" : {
            "description" : "Response for endpoint PUT-itorix/v1/swaggers/subscribe"
          }
        },
        "x-codegen-request-body-name" : "Request Body"
      }
    },
    "/v1/swaggers" : {
      "get" : {
        "tags" : [ "API Design- OAS2.0&OAS3.0" ],
        "summary" : "getListOfSwaggerNames",
        "operationId" : "getListOfSwaggerNames",
        "parameters" : [ {
          "name" : "page",
          "in" : "query",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "interactionid",
          "in" : "header",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "Accept",
          "in" : "header",
          "schema" : {
            "type" : "string"
          },
          "example" : "application/json"
        }, {
          "name" : "JSESSIONID",
          "in" : "header",
          "schema" : {
            "type" : "string"
          },
          "example" : "{{jsessionid}}"
        }, {
          "name" : "oas",
          "in" : "header",
          "schema" : {
            "type" : "string"
          },
          "example" : "{{oas-version}}"
        } ],
        "responses" : {
          "200" : {
            "description" : "Response for endpoint GET-itorix/v1/swaggers",
            "headers" : {
              "date" : {
                "description" : "response header",
                "schema" : {
                  "type" : "string"
                }
              },
              "content-length" : {
                "description" : "response header",
                "schema" : {
                  "type" : "string"
                }
              },
              "server" : {
                "description" : "response header",
                "schema" : {
                  "type" : "string"
                }
              },
              "expires" : {
                "description" : "response header",
                "schema" : {
                  "type" : "string"
                }
              },
              "x-envoy-upstream-service-time" : {
                "description" : "response header",
                "schema" : {
                  "type" : "string"
                }
              },
              "vary" : {
                "description" : "response header",
                "schema" : {
                  "type" : "string"
                }
              },
              "x-frame-options" : {
                "description" : "response header",
                "schema" : {
                  "type" : "string"
                }
              },
              "pragma" : {
                "description" : "response header",
                "schema" : {
                  "type" : "string"
                }
              },
              "strict-transport-security" : {
                "description" : "response header",
                "schema" : {
                  "type" : "string"
                }
              },
              "x-content-type-options" : {
                "description" : "response header",
                "schema" : {
                  "type" : "string"
                }
              },
              "x-xss-protection" : {
                "description" : "response header",
                "schema" : {
                  "type" : "string"
                }
              },
              "content-type" : {
                "description" : "response header",
                "schema" : {
                  "type" : "string"
                }
              },
              "cache-control" : {
                "description" : "response header",
                "schema" : {
                  "type" : "string"
                }
              }
            },
            "content" : {
              "*/*" : {
                "schema" : {
                  "required" : [ "swaggers" ],
                  "type" : "object",
                  "properties" : {
                    "swaggers" : {
                      "type" : "array",
                      "items" : {
                        "required" : [ "id", "name" ],
                        "type" : "object",
                        "properties" : {
                          "name" : {
                            "type" : "string"
                          },
                          "id" : {
                            "type" : "string"
                          },
                          "description" : {
                            "type" : "string"
                          }
                        }
                      }
                    }
                  },
                  "example" : "{\"swaggers\":[{\"name\":\"APIWIZ-Api-Test\",\"id\":\"3725be2ab4e94a6da8c09443f5b5ce78\"},{\"name\":\"APIWIZ-Api-consent\",\"id\":\"20b281f4335c48f482944f471ce3e4fb\"},{\"name\":\"APIWIZ-Astrum\",\"id\":\"293090f68fec4311ae840f83aa5802bf\"},{\"name\":\"APIWIZ-Astrum-api\",\"id\":\"d560613648414013858326c8ea809cfe\"},{\"name\":\"APIWIZ-CI-CD\",\"id\":\"2a04a254747147d991b6ac2a3127d5b3\"},{\"name\":\"APIWIZ-Collaboration\",\"id\":\"9e99a20e681a43958844d73e93b8f245\"},{\"name\":\"APIWIZ-Config-Management\",\"id\":\"b7910cd4e6cf4378a3a3157c359eb919\"},{\"name\":\"APIWIZ-DeveloperStudio\",\"id\":\"12d77d71fe4945be9f108900168ae975\"},{\"name\":\"APIWIZ-Inspector\",\"id\":\"2de6a47398f54cf496b9c12426969e26\"},{\"name\":\"APIWIZ-Inspector-Agent\",\"id\":\"aa40a11abf714838ad0bf889bed86d54\"},{\"name\":\"APIWIZ-Inspector-api\",\"id\":\"7561ec166e12461eba3c5266ea335db2\"},{\"name\":\"APIWIZ-KONG-Connector1\",\"id\":\"90a7f8cadfde4b7dac112e7112bdbaa5\"},{\"name\":\"APIWIZ-Kong\",\"id\":\"d722cd09b71f439c885a09b54276fc61\"},{\"name\":\"APIWIZ-Performance-And-Coverage\",\"id\":\"5dcf233db81a4c7980365cbdbf3b4322\"},{\"name\":\"APIWIZ-api-developer-portal\",\"id\":\"a83c357f48914883a88a9f956a91329e\"},{\"name\":\"APIWIZ-api-license\",\"id\":\"03022b7c6c554c948a8fc5ab349ab28a\"},{\"name\":\"APIWIZ-api-portfolio\",\"id\":\"bc65621a13234a798ce6b7cb1efe5cf7\"},{\"name\":\"APIWIZ-consent-api-server\",\"id\":\"aeea92501dab4840b0d03cebbf95690a\"},{\"name\":\"APIwiz - Design Studio\",\"id\":\"53cfe241c85948b79720d42311db5a0a\"},{\"name\":\"APIwiz-Data Dictionary\",\"id\":\"9ca9810b5d1441c2b7d266c394164900\"},{\"name\":\"APIwiz-IdentityManagement\",\"id\":\"e9ec0ef621c44c3d8f74a2f1f87e9b9a\"},{\"name\":\"APIwiz-MonitorAgent\",\"id\":\"02571301170248809574bdca8c82ecad\"},{\"name\":\"APIwiz-NotificationAgent\",\"id\":\"3e321ae5e69448d5ad1653111365ea3d\"},{\"name\":\"APIwiz-PerformanceAndCoverage\",\"id\":\"2b9601ba758e4a17a90c9fdeb0e2bc5a\"},{\"name\":\"APIwiz-ProjectManagement\",\"id\":\"215b02210c124e6e80e682b982a90e20\"},{\"name\":\"APIwiz-SSO\",\"id\":\"32ab14c9fe4f4277aff89f4f372db548\"},{\"name\":\"APIwiz-ServiceRegistry\",\"id\":\"94f22bee128941e5a4a6a086fce247f3\"},{\"name\":\"APIwiz-ServiceRequest\",\"id\":\"dd245edfe98c43c7b0e01eeb53ed2e21\"},{\"name\":\"APIwiz-ThirdPartyIntegrations\",\"id\":\"3ded98173db14a4ba1fdf170ccb7c648\"},{\"name\":\"APIwiz-Virtualization\",\"id\":\"9384f1a44c5a4c2ca30c17ab8099c997\"},{\"name\":\"APIwiz-data-management\",\"id\":\"92ac16ae2b3342d295a1db54b723cdd9\"},{\"name\":\"APIwiz-marketing\",\"id\":\"6c3302e0935343308644d88575c81dd1\"},{\"name\":\"AUTH-TEST\",\"id\":\"98b2e44343c9478ba2141858d605a4be\"},{\"name\":\"Account Recovery\",\"id\":\"f1933ec366d54ea88e281fe3a2600836\"},{\"name\":\"Accounts\",\"id\":\"8b5897f146c0497b91fe45922683e43b\"},{\"name\":\"Acme Bank Payments\",\"id\":\"50a1632cae5f43e1931a0a394b4dc121\"},{\"name\":\"Acme Bank Transactions\",\"id\":\"6d0748ba1a0b4e56896945a9848ae619\"},{\"name\":\"Acme Transactions LNT\",\"id\":\"4870a24110fb40e8ba618507eeb774ba\"},{\"name\":\"Akash Example 1\",\"id\":\"f791207008cf4bcdafedee81141f91d9\"},{\"name\":\"Akash Example 2\",\"id\":\"dd491d9e1bfd49638d900e302533ae15\"},{\"name\":\"Akash Example 3\",\"id\":\"44a7781bf98b4bafb0e9249a750a7712\"},{\"name\":\"Akash Test\",\"id\":\"6865b671fe8b46cfa9815e84d10da9bd\"},{\"name\":\"Api Ratings\",\"id\":\"28dea6a77adf4d8e965ec7569715b407\"},{\"name\":\"Card Capture\",\"id\":\"ea1ddfe0a2bd4221abba22a1f75cb345\"},{\"name\":\"Carts-API\",\"id\":\"8aa30f11d1634f158606d02f0b08b625\"},{\"name\":\"Compliance\",\"id\":\"404acb8d423448ada89b03119876ba11\"},{\"name\":\"Currency Exchange\",\"id\":\"68e8f7343f4e4a58ad3c009b2e5b8711\"},{\"name\":\"Customer API Version 1\",\"id\":\"7ecbe08936284f75913889ed74663d6f\"},{\"name\":\"Customer Billing\",\"id\":\"82c40ed355944c939340740b25cafe52\"},{\"name\":\"DUMMYJSON\",\"id\":\"e5054b3cdb034dddac1385837c2a75d5\"},{\"name\":\"DUMMYJSON-1\",\"description\":\"Swagger Documentation for DUMMYJSON\",\"id\":\"7e6be748347f4d93b15c81db048e5a9a\"},{\"name\":\"DataDictionary\",\"id\":\"7c98dc52d5a64341891af4a69c7f1338\"},{\"name\":\"Design Studio\",\"id\":\"1d9ff789439b492488d147b16b6b2e47\"},{\"name\":\"Don't Touch\",\"id\":\"bcf0d3389ccc457287488466f081e6ce\"},{\"name\":\"Enum_Swagger\",\"id\":\"5e124845361045868660ec2362f1e122\"},{\"name\":\"Example\",\"id\":\"1ff35dd5e141473f9e189301222955c4\"},{\"name\":\"Foodstall\",\"id\":\"2b2512014ae04f91a546969cec7a82d2\"},{\"name\":\"Football Standings\",\"id\":\"c15b189ec74945feb0e31016ce6ccf56\"},{\"name\":\"Hello_Service\",\"id\":\"05cb7996848a4af7b999be0731ccb461\"},{\"name\":\"ImportModalTesting20\",\"id\":\"7b0834ee0b0c46a99de22c49857b87ec\"},{\"name\":\"Kong Connector\",\"id\":\"5026e44a246242419659656307381831\"},{\"name\":\"Leasing\",\"id\":\"4f6dc5a921df43319668ce3a51c07186\"},{\"name\":\"Leasing-00001\",\"id\":\"73c4b3d78ae641e89f5a0e8fa63c4bc6\"},{\"name\":\"Loans-HK\",\"id\":\"92fbc8aca5a548a08a202a337b1229e7\"},{\"name\":\"Loans-HK12\",\"description\":\"Swagger Documentation for Loans HK\",\"id\":\"854eb9c184cf40ccb1c133c1332fb3b3\"},{\"name\":\"MST\",\"id\":\"f3097c0dd9504cbe8298de903d105a7f\"},{\"name\":\"Marvel API\",\"id\":\"2bbe9bac623046709820cb1b89827ff0\"},{\"name\":\"New swagger\",\"id\":\"ac5ac18c94084f9dbadd272ce6f9d895\"},{\"name\":\"NewTestGit\",\"id\":\"579c858d010e417f937a081fae394fb7\"},{\"name\":\"OAS API\",\"id\":\"e70e8fe880de42ffac6489e773acec81\"},{\"name\":\"Online Banking API\",\"id\":\"507cc06db0f94cfba1b87ee19a9eefa9\"},{\"name\":\"Online Banking API -222\",\"id\":\"85cc7b30c2194805bcb765b29a7a78ad\"},{\"name\":\"Online Banking API 1\",\"id\":\"fc4ba260a14d4e0ea98b9804a355b3f8\"},{\"name\":\"Online Banking API-Monetization\",\"id\":\"a09f5a36eeaa4200841b47541a30a483\"},{\"name\":\"Online Banking REST API\",\"id\":\"be41279413a9453bb191aed83ed587b7\"},{\"name\":\"Payment Initiation API\",\"id\":\"1d8ae3e7299d49c98caeac61f350a42a\"},{\"name\":\"Payment Initiation API 2.0\",\"id\":\"89264103fc4a47e9ad0a92be66269145\"},{\"name\":\"Payment Initiation API Compliance\",\"description\":\"Swagger for Payment Initiation API Specification\",\"id\":\"94b3f84817024dfaaf3dbb52f1ef2ced\"},{\"name\":\"Pet Store for rahul\",\"id\":\"c6deaae47d844af59ac65360ca43aa1e\"},{\"name\":\"PetStore By APIgee\",\"id\":\"6796656c106946ca90ea8a374adc1229\"},{\"name\":\"Petsotereagasdgadsg\",\"id\":\"70c8d6b6a9924d38b0b47a87d560b9bf\"},{\"name\":\"Petstore\",\"id\":\"73f9c4c58821470cac6d18458b448092\"},{\"name\":\"Petstore dev 2.0\",\"id\":\"ca110f3e7aab4361a86b1b79aa3837aa\"},{\"name\":\"Petstore-1\",\"id\":\"bbdd9cc53005422c8096366f305c1745\"},{\"name\":\"Petstore-V1.0\",\"id\":\"65f102683baa44018922bc2604d1bfb6\"},{\"name\":\"Petstore-deva-2\",\"id\":\"ece31558d41b4bbd875c2b2fa82b3872\"},{\"name\":\"Petstore-testingingi\",\"id\":\"4b5f30b0646f4876aa125dc8a0903dde\"},{\"name\":\"Petstore_deva\",\"id\":\"0bfd1c031ee84b6891faa22896d64723\"},{\"name\":\"Portfolio-Endpoints\",\"id\":\"7169e6121b354d70a7d7b2d620112510\"},{\"name\":\"Product Catalog\",\"id\":\"614e8b85456c4ad08845ff21521b1ffa\"},{\"name\":\"Products Version 1.0\",\"id\":\"13e3c3ddb3964e1d867d35fa872fedc5\"},{\"name\":\"Products-API\",\"id\":\"1d69e666abee4cd38ad27be8b2d25b8f\"},{\"name\":\"Products-API-1\",\"id\":\"6fe37c8c250f48fb803b982669de2c9b\"},{\"name\":\"Products_v1\",\"id\":\"b7b7b989262149ae974a71b5ee2adbeb\"},{\"name\":\"Products_v11\",\"id\":\"77d49965b6084c2189e1959e49a9c6c1\"},{\"name\":\"PushToWorkspace2\",\"id\":\"a5fcf57bbebd47a3863048068732a790\"},{\"name\":\"PushToWorkspace3\",\"id\":\"e2675091abe34c71a46e07ca9ebf77f2\"},{\"name\":\"SampleAPI\",\"id\":\"f1a8a83b43ea403b9ffc870892441e34\"},{\"name\":\"Schemas\",\"id\":\"20a41f8239d94621afd38498035ad517\"},{\"name\":\"Sim Activation Status API\",\"id\":\"1a61730829f64dc1ac2a0877fec863f9\"},{\"name\":\"Spectral\",\"id\":\"6d58fe5787934dbca3c6f9ee6c8ac119\"},{\"name\":\"Spectral-Test\",\"id\":\"f22364d166544abfbd1dbe92b46718dc\"},{\"name\":\"Swagger Petstore\",\"id\":\"7c5f2684014c403b89f05ad8f0c8020e\"},{\"name\":\"Swagger Petstore 3.0\",\"id\":\"75f2844fd41440b6b0e6f990305b698c\"},{\"name\":\"Swagger Petstore v6\",\"id\":\"2f8fb7be6ad84dbfb01e17901758e39f\"},{\"name\":\"SwaggerPetstore23\",\"description\":\"tetsing\",\"id\":\"bb553f062bf0410bb23d43c755afebcc\"},{\"name\":\"SwaggerTest1\",\"id\":\"44be3a2bbd344e9e8651f0ea77a1d7a1\"},{\"name\":\"SwaggerTest12\",\"id\":\"e344a899c1fe4a07a72e928c2fc8b7b7\"},{\"name\":\"T\",\"id\":\"98776183198c415195ec704495395ba5\"},{\"name\":\"Telemetry\",\"id\":\"4fee2d0a1b194fd4903fec87b101800d\"},{\"name\":\"Test\",\"id\":\"bb8f99be534845c3b30efd2fe135abba\"},{\"name\":\"Test AsyncAPI\",\"id\":\"42232208b43c4b4bb68818be6126bcc7\"},{\"name\":\"Test Edit\",\"id\":\"eede008631f24809be15b55fe877199c\"},{\"name\":\"Test GraphQL\",\"id\":\"ba9ca808973d423990ca3fd5c7abe72f\"},{\"name\":\"Test Swagger\",\"id\":\"90c6a531520f411891dc00795ccbadcf\"},{\"name\":\"TestAPICreation\",\"id\":\"65de4e3132ae415ea3235da560727372\"},{\"name\":\"TestConvert\",\"id\":\"f78ef28d90c54a01b8e35667db7393cd\"},{\"name\":\"TestMetadata\",\"id\":\"f645b87098f04016a1ae33b8398ecb06\"},{\"name\":\"Testing-Edit\",\"id\":\"e5b3d9fca9654279b5ee24019203279d\"},{\"name\":\"Uber API\",\"id\":\"d99e5362d85b476cbc40301ba19c8cb8\"},{\"name\":\"Users-API\",\"id\":\"ab35fb1d442e40eea2b9711505a76309\"},{\"name\":\"Vacuum-Test\",\"id\":\"8e8cae2cebe649dc94b3fea2c95b0681\"},{\"name\":\"ads\",\"id\":\"dceac0a2587d4a54a9109f1776c4c454\"},{\"name\":\"analytics\",\"id\":\"512c5d6884b8493d8cb161e5095d7826\"},{\"name\":\"check-metadata\",\"id\":\"02dadc1cb38e4f61b3cad6243be32490\"},{\"name\":\"console\",\"description\":\"Swagger Documentation for APIWIZ-Api-consent\",\"id\":\"ebff393d23dc45a5b25e7c99472191f8\"},{\"name\":\"dew\",\"description\":\"tetsing\",\"id\":\"8a39fcb2d000428fac1ed7263e6523f7\"},{\"name\":\"divakarswagger\",\"id\":\"7820f08ad74244e3aeeff367827a44f9\"},{\"name\":\"error test\",\"id\":\"db2236221709402781097b3970e54e53\"},{\"name\":\"exampleeeeee\",\"id\":\"2089130cda744f1cb8dbf0867c6c06fa\"},{\"name\":\"gautami\",\"id\":\"a37e423ffe2448e99858773cbc5eed6b\"},{\"name\":\"gautamitest\",\"id\":\"6aa7e78bdb7f4b0fbfd727f424a6802b\"},{\"name\":\"hi\",\"id\":\"7ea47b4ddbb147999a64366a76eb541b\"},{\"name\":\"marvel_comic_swagger\",\"id\":\"12ee2f6bde0c4b23bc89dc3a45d3f274\"},{\"name\":\"mountaindew\",\"description\":\"tetsing\",\"id\":\"07a3f3c1c544477795bbe097ac3f1ea1\"},{\"name\":\"mountaindewhritik\",\"description\":\"tetsing\",\"id\":\"33f4b8615b214f28876c625ae3588de6\"},{\"name\":\"new swagger\",\"id\":\"62cabfd77dba4ae6ad79d5583b3be39a\"},{\"name\":\"new-swagger\",\"id\":\"f6216f4bf0fd4117b8ef82185dfdd1d5\"},{\"name\":\"newSwagger\",\"id\":\"38476e590577422e93162c87ec4fc7f1\"},{\"name\":\"newSwagger2.0\",\"id\":\"194a87562ea34a4dac03d967c34f610e\"},{\"name\":\"notification test\",\"id\":\"1be4b20617a747cd8051a4597c424f68\"},{\"name\":\"notitle\",\"id\":\"f732bbe70441469cb4cf0fe7917bc8b5\"},{\"name\":\"petstore\",\"id\":\"2ea2a423fa7748a5891e0ede51e289ae\"},{\"name\":\"products_v\",\"description\":\"Swagger Documentation for products_v1\",\"id\":\"9091b2147d90454b80b6edaa7c9af669\"},{\"name\":\"products_v1\",\"id\":\"447f1233e616496eb396cb05fa9f31c5\"},{\"name\":\"q\",\"id\":\"bc148e78c93d4b6ca31c8869d02c1d39\"},{\"name\":\"sample-swagger\",\"id\":\"ec16ac1718f34ed9a9f1004cd72fdbd5\"},{\"name\":\"sdsdsdsdsds\",\"id\":\"0546b56ed1db4be0ad73bdf80034162d\"},{\"name\":\"shashil-store\",\"id\":\"1730a83f890849f6a4b81c44e1bf94e5\"},{\"name\":\"status-check\",\"id\":\"38a027b62937474d860d2af9fde01cab\"},{\"name\":\"swagger1\",\"id\":\"457d9fc466594263893eb1afc47a210e\"},{\"name\":\"swaggerTest\",\"id\":\"94c545da33eb4dbc9820774bb6f3b425\"},{\"name\":\"test\",\"id\":\"72c65cf4ab3b42a98f980518c57521cc\"},{\"name\":\"test 2.0\",\"id\":\"c72f9e0c4980498792d5818f10b7fa6a\"},{\"name\":\"test-3\",\"id\":\"70ca72c06d87428a8eba0c05a09fb7b6\"},{\"name\":\"test-new\",\"id\":\"d24ccec0624441cfbf519c9f0758751d\"},{\"name\":\"test-swagger-deva\",\"id\":\"c9f79e560de34229b9fef8f95477b5cb\"},{\"name\":\"test-zoya\",\"id\":\"cc68bd7f327b4c2b9807463ba7b7a62d\"},{\"name\":\"test1234\",\"id\":\"34ed093b1150476bb82c04d3c459df36\"},{\"name\":\"testIMport\",\"id\":\"6e602452b8cd4ed08eff593d518eb308\"},{\"name\":\"testdevvvv\",\"id\":\"6716a4b5172b46f98ae14ea8d92a8730\"},{\"name\":\"testing\",\"id\":\"4f6a28c48e434ee68c95b9235b370af2\"},{\"name\":\"testing-01\",\"id\":\"c89d9df8401541e3b3ecd76558d7011f\"},{\"name\":\"testng deva\",\"id\":\"990d6c05cdda4caa9c76048aeb742c86\"},{\"name\":\"testttttt\",\"id\":\"2ab02ffebc114072ba126a6b3217c4c9\"},{\"name\":\"testz\",\"id\":\"fc04e35e1cc84fa28edaa87d75c18d45\"},{\"name\":\"untitled3\",\"id\":\"0bad1627f3a043388cbefb9cfc542a2c\"},{\"name\":\"uuuuuu\",\"id\":\"2bb3f69b13324f81ab35011f0784fcff\"},{\"name\":\"xyz\",\"id\":\"760dd581b6224224975e53eabf06e415\"},{\"name\":\"z\",\"id\":\"f63ca02647324fb89fc280d073335f1a\"}]}"
                }
              }
            }
          },
          "503" : {
            "description" : "Response for endpoint GET-itorix/v1/swaggers",
            "headers" : {
              "date" : {
                "description" : "response header",
                "schema" : {
                  "type" : "string"
                }
              },
              "content-length" : {
                "description" : "response header",
                "schema" : {
                  "type" : "string"
                }
              },
              "server" : {
                "description" : "response header",
                "schema" : {
                  "type" : "string"
                }
              },
              "content-type" : {
                "description" : "response header",
                "schema" : {
                  "type" : "string"
                }
              }
            }
          }
        }
      }
    },
    "/v1/swaggers/history" : {
      "get" : {
        "tags" : [ "API Design- OAS2.0&OAS3.0" ],
        "summary" : "getListOfSwaggerDetails",
        "operationId" : "getListOfSwaggerDetails",
        "parameters" : [ {
          "name" : "interactionid",
          "in" : "header",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "offset",
          "in" : "query",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "swagger",
          "in" : "query",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "status",
          "in" : "query",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "sortbymodifieddate",
          "in" : "query",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "Accept",
          "in" : "header",
          "schema" : {
            "type" : "string"
          },
          "example" : "application/json"
        }, {
          "name" : "product",
          "in" : "query",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "modifieddate",
          "in" : "query",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "JSESSIONID",
          "in" : "header",
          "schema" : {
            "type" : "string"
          },
          "example" : "{{jsessionid}}"
        }, {
          "name" : "oas",
          "in" : "header",
          "schema" : {
            "type" : "string"
          },
          "example" : "{{oas-version}}"
        }, {
          "name" : "pagesize",
          "in" : "query",
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Response for endpoint GET-itorix/v1/swaggers/history",
            "headers" : {
              "date" : {
                "description" : "response header",
                "schema" : {
                  "type" : "string"
                }
              },
              "content-length" : {
                "description" : "response header",
                "schema" : {
                  "type" : "string"
                }
              },
              "server" : {
                "description" : "response header",
                "schema" : {
                  "type" : "string"
                }
              },
              "expires" : {
                "description" : "response header",
                "schema" : {
                  "type" : "string"
                }
              },
              "x-envoy-upstream-service-time" : {
                "description" : "response header",
                "schema" : {
                  "type" : "string"
                }
              },
              "vary" : {
                "description" : "response header",
                "schema" : {
                  "type" : "string"
                }
              },
              "x-frame-options" : {
                "description" : "response header",
                "schema" : {
                  "type" : "string"
                }
              },
              "pragma" : {
                "description" : "response header",
                "schema" : {
                  "type" : "string"
                }
              },
              "strict-transport-security" : {
                "description" : "response header",
                "schema" : {
                  "type" : "string"
                }
              },
              "x-content-type-options" : {
                "description" : "response header",
                "schema" : {
                  "type" : "string"
                }
              },
              "x-xss-protection" : {
                "description" : "response header",
                "schema" : {
                  "type" : "string"
                }
              },
              "content-type" : {
                "description" : "response header",
                "schema" : {
                  "type" : "string"
                }
              },
              "cache-control" : {
                "description" : "response header",
                "schema" : {
                  "type" : "string"
                }
              }
            },
            "content" : {
              "*/*" : {
                "schema" : {
                  "required" : [ "data", "pagination" ],
                  "type" : "object",
                  "properties" : {
                    "pagination" : {
                      "required" : [ "offset", "pageSize", "total" ],
                      "type" : "object",
                      "properties" : {
                        "total" : {
                          "type" : "integer"
                        },
                        "offset" : {
                          "type" : "integer"
                        },
                        "pageSize" : {
                          "type" : "integer"
                        }
                      }
                    },
                    "data" : {
                      "type" : "array",
                      "items" : {
                        "required" : [ "createdBy", "createdUserName", "cts", "description", "id", "lock", "lockedAt", "lockedBy", "lockedByUserId", "modifiedBy", "modifiedUserName", "mts", "name", "revision", "roles", "status", "swaggerId", "teams" ],
                        "type" : "object",
                        "properties" : {
                          "id" : {
                            "type" : "string"
                          },
                          "cts" : {
                            "type" : "integer"
                          },
                          "createdUserName" : {
                            "type" : "string"
                          },
                          "modifiedUserName" : {
                            "type" : "string"
                          },
                          "mts" : {
                            "type" : "integer"
                          },
                          "createdBy" : {
                            "type" : "string"
                          },
                          "modifiedBy" : {
                            "type" : "string"
                          },
                          "revision" : {
                            "type" : "integer"
                          },
                          "status" : {
                            "type" : "string"
                          },
                          "swaggerId" : {
                            "type" : "string"
                          },
                          "name" : {
                            "type" : "string"
                          },
                          "lock" : {
                            "type" : "boolean"
                          },
                          "lockedBy" : {
                            "type" : "string"
                          },
                          "lockedAt" : {
                            "type" : "integer"
                          },
                          "lockedByUserId" : {
                            "type" : "string"
                          },
                          "description" : {
                            "type" : "string"
                          },
                          "teams" : {
                            "type" : "array",
                            "items" : {
                              "type" : "string"
                            }
                          },
                          "roles" : {
                            "type" : "array",
                            "items" : {
                              "type" : "string"
                            }
                          },
                          "ruleSetIds" : {
                            "type" : "array",
                            "items" : {
                              "type" : "string"
                            }
                          }
                        }
                      }
                    }
                  },
                  "example" : "{\"pagination\":{\"total\":170,\"offset\":1,\"pageSize\":10},\"data\":[{\"id\":\"63bbcdf6377d6e6913f1943e\",\"cts\":1673252342220,\"createdUserName\":\"vidya r\",\"modifiedUserName\":\"Divakar V\",\"mts\":1682501469176,\"createdBy\":\"62f345d9c9aabe7e86f1b603\",\"modifiedBy\":\"6345661eac08d61ad2cc9a4b\",\"revision\":4,\"status\":\"Draft\",\"swaggerId\":\"3725be2ab4e94a6da8c09443f5b5ce78\",\"name\":\"APIWIZ-Api-Test\",\"lock\":true,\"lockedBy\":\"Divakar V\",\"lockedAt\":1679580190710,\"lockedByUserId\":\"6345661eac08d61ad2cc9a4b\",\"description\":\"Swagger Documentation for APIWIZ-Api-Test\",\"teams\":[\"apiwiz team\",\"newTeam\",\"testing team\"],\"roles\":[\"Admin\",\"Write\",\"Read\"]},{\"id\":\"63a72e89213a1218919c01b4\",\"cts\":1671900809781,\"createdUserName\":\"Deva Prakash\",\"modifiedUserName\":\"vidya r\",\"mts\":1682501468982,\"createdBy\":\"631ae5809252414c7b7fbeb3\",\"modifiedBy\":\"62f345d9c9aabe7e86f1b603\",\"revision\":4,\"status\":\"Draft\",\"swaggerId\":\"20b281f4335c48f482944f471ce3e4fb\",\"name\":\"APIWIZ-Api-consent\",\"lock\":true,\"lockedBy\":\"vidya r\",\"lockedAt\":1673443131925,\"lockedByUserId\":\"62f345d9c9aabe7e86f1b603\",\"description\":\"Swagger Documentation for APIWIZ-Api-consent\",\"teams\":[\"apiwiz team\"],\"roles\":[\"Admin\",\"Write\",\"Read\"]},{\"id\":\"633e6be3adce373004fdcec6\",\"cts\":1665035235801,\"createdUserName\":\"Yathin Somaiah\",\"modifiedUserName\":\"Anurag Shukla\",\"mts\":1682501468373,\"createdBy\":\"6299f2369aa01044e9b90b36\",\"modifiedBy\":\"6332d52ab73e8c099f12679b\",\"revision\":1,\"status\":\"Draft\",\"swaggerId\":\"293090f68fec4311ae840f83aa5802bf\",\"name\":\"APIWIZ-Astrum\",\"lock\":true,\"lockedBy\":\"Anurag Shukla\",\"lockedAt\":1674451109299,\"lockedByUserId\":\"6332d52ab73e8c099f12679b\",\"description\":\"Swagger Documentation for APIWIZ-Astrum\",\"teams\":[\"apiwiz team\"],\"roles\":[\"Admin\",\"Write\",\"Read\"]},{\"id\":\"6386f26ae7c2b67a7b6e7a3a\",\"cts\":1669788266453,\"createdUserName\":\"vidya r\",\"modifiedUserName\":\"vidya r\",\"mts\":1682501468887,\"createdBy\":\"62f345d9c9aabe7e86f1b603\",\"modifiedBy\":\"62f345d9c9aabe7e86f1b603\",\"revision\":2,\"status\":\"Draft\",\"swaggerId\":\"d560613648414013858326c8ea809cfe\",\"name\":\"APIWIZ-Astrum-api\",\"lock\":true,\"lockedBy\":\"vidya r\",\"lockedAt\":1673336868146,\"lockedByUserId\":\"62f345d9c9aabe7e86f1b603\",\"description\":\"Swagger Documentation for APIWIZ-Astrum\",\"teams\":[\"Team-Bowls\",\"apiwiz team\"],\"roles\":[\"Admin\",\"Write\",\"Read\"]},{\"id\":\"633acab7c607fb1ec3190e1e\",\"cts\":1664797367648,\"createdUserName\":\"Yathin Somaiah\",\"modifiedUserName\":\"Nihal Ahamed\",\"mts\":1682501468367,\"createdBy\":\"6299f2369aa01044e9b90b36\",\"modifiedBy\":\"63047393c4f1182aa9f6745e\",\"revision\":1,\"status\":\"Draft\",\"swaggerId\":\"2a04a254747147d991b6ac2a3127d5b3\",\"name\":\"APIWIZ-CI-CD\",\"lock\":true,\"lockedBy\":\"Nihal Ahamed\",\"lockedAt\":1673850038052,\"lockedByUserId\":\"63047393c4f1182aa9f6745e\",\"description\":\"Swagger Documentation for APIWIZ-CI-CD\",\"teams\":[\"Team-Bowls\",\"ITORIX-TEAM\",\"apiwiz team\"],\"roles\":[\"Admin\",\"Write\",\"Read\"]},{\"id\":\"6343c8305eb99c1ceca0fddd\",\"cts\":1665386544590,\"createdUserName\":\"Rahul bs\",\"modifiedUserName\":\"vidya r\",\"mts\":1682501468394,\"createdBy\":\"6343c4685eb99c1ceca0fcae\",\"modifiedBy\":\"62f345d9c9aabe7e86f1b603\",\"revision\":2,\"status\":\"Draft\",\"swaggerId\":\"9e99a20e681a43958844d73e93b8f245\",\"name\":\"APIWIZ-Collaboration\",\"lock\":true,\"lockedBy\":\"vidya r\",\"lockedAt\":1674224070849,\"lockedByUserId\":\"62f345d9c9aabe7e86f1b603\",\"description\":\"Swagger Documentation for APIWIZ-Collaboration\",\"teams\":[\"apiwiz team\"],\"roles\":[\"Admin\",\"Write\",\"Read\"]},{\"id\":\"63811a07ecb9ad101cacb807\",\"cts\":1669405191010,\"createdUserName\":\"Balaji Vijayan\",\"modifiedUserName\":\"Akash K\",\"mts\":1682501468789,\"createdBy\":\"632c803cbc954d348300dc31\",\"modifiedBy\":\"624e824217931600da0ca848\",\"revision\":3,\"status\":\"Draft\",\"swaggerId\":\"b7910cd4e6cf4378a3a3157c359eb919\",\"name\":\"APIWIZ-Config-Management\",\"lock\":true,\"lockedBy\":\"Balaji Vijayan\",\"lockedAt\":1669405194069,\"lockedByUserId\":\"632c803cbc954d348300dc31\",\"description\":\"Swagger Documentation for APIWIZ-Config-Managements\",\"teams\":[],\"roles\":[\"Admin\",\"Write\",\"Read\"]},{\"id\":\"6343c8835eb99c1ceca0fe1f\",\"cts\":1665386627136,\"createdUserName\":\"Rahul bs\",\"modifiedUserName\":\"vidya r\",\"mts\":1682501468468,\"createdBy\":\"6343c4685eb99c1ceca0fcae\",\"modifiedBy\":\"62f345d9c9aabe7e86f1b603\",\"revision\":2,\"status\":\"Publish\",\"swaggerId\":\"12d77d71fe4945be9f108900168ae975\",\"name\":\"APIWIZ-DeveloperStudio\",\"lock\":true,\"lockedBy\":\"Rahul bs\",\"lockedAt\":1665386630698,\"lockedByUserId\":\"6343c4685eb99c1ceca0fcae\",\"description\":\"Swagger Documentation for APIWIZ-DeveloperStudio\",\"teams\":[\"Team-Bowls\"],\"roles\":[\"Admin\",\"Write\",\"Read\"],\"ruleSetIds\":[\"6362ab5a029ea4297754495e\",\"6388a07d92df060f1ff1dd5c\",\"638985d42104bf567769c126\",\"63898893d489fa32e0ac55ea\",\"6389d7bfd489fa32e0ac5678\",\"6396b197ac6ccc74aa7b411c\",\"63bea10d3dda475db88a5c77\"]},{\"id\":\"633e819dadce373004fdd459\",\"cts\":1665040797391,\"createdUserName\":\"Yathin Somaiah\",\"modifiedUserName\":\"Shravan Shashil\",\"mts\":1682501468375,\"createdBy\":\"6299f2369aa01044e9b90b36\",\"modifiedBy\":\"62a9eff28445d68960063edb\",\"revision\":1,\"status\":\"Draft\",\"swaggerId\":\"2de6a47398f54cf496b9c12426969e26\",\"name\":\"APIWIZ-Inspector\",\"lock\":true,\"lockedBy\":\"Shravan Shashil\",\"lockedAt\":1669729983745,\"lockedByUserId\":\"62a9eff28445d68960063edb\",\"description\":\"Swagger Documentation for APIWIZ-Inspector\",\"teams\":[\"apiwiz team\"],\"roles\":[\"Admin\",\"Write\",\"Read\"]},{\"id\":\"6343c8a15eb99c1ceca0fe35\",\"cts\":1665386657333,\"createdUserName\":\"Rahul bs\",\"modifiedUserName\":\"Rahul bs\",\"mts\":1682501468472,\"createdBy\":\"6343c4685eb99c1ceca0fcae\",\"modifiedBy\":\"6343c4685eb99c1ceca0fcae\",\"revision\":1,\"status\":\"Draft\",\"swaggerId\":\"aa40a11abf714838ad0bf889bed86d54\",\"name\":\"APIWIZ-Inspector-Agent\",\"lock\":true,\"lockedBy\":\"Rahul bs\",\"lockedAt\":1665386660666,\"lockedByUserId\":\"6343c4685eb99c1ceca0fcae\",\"description\":\"Swagger Documentation for APIWIZ-Inspector\",\"teams\":[\"apiwiz team\"],\"roles\":[\"Admin\",\"Write\",\"Read\"]}]}"
                }
              }
            }
          }
        }
      }
    },
    "/v1/swaggers/documentation" : {
      "get" : {
        "tags" : [ "API Design- OAS2.0&OAS3.0" ],
        "summary" : "getListOfPublishedSwaggerDetails",
        "operationId" : "getListOfPublishedSwaggerDetails",
        "parameters" : [ {
          "name" : "interactionid",
          "in" : "header",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "status",
          "in" : "query",
          "schema" : {
            "type" : "string"
          },
          "example" : "Publish"
        }, {
          "name" : "JSESSIONID",
          "in" : "header",
          "schema" : {
            "type" : "string"
          },
          "example" : "{{jsessionid}}"
        }, {
          "name" : "oas",
          "in" : "header",
          "schema" : {
            "type" : "string"
          },
          "example" : "{{oas-version}}"
        } ],
        "responses" : {
          "200" : {
            "description" : "Response for endpoint GET-itorix/v1/swaggers/documentation",
            "headers" : {
              "date" : {
                "description" : "response header",
                "schema" : {
                  "type" : "string"
                }
              },
              "content-length" : {
                "description" : "response header",
                "schema" : {
                  "type" : "string"
                }
              },
              "server" : {
                "description" : "response header",
                "schema" : {
                  "type" : "string"
                }
              },
              "expires" : {
                "description" : "response header",
                "schema" : {
                  "type" : "string"
                }
              },
              "x-envoy-upstream-service-time" : {
                "description" : "response header",
                "schema" : {
                  "type" : "string"
                }
              },
              "vary" : {
                "description" : "response header",
                "schema" : {
                  "type" : "string"
                }
              },
              "x-frame-options" : {
                "description" : "response header",
                "schema" : {
                  "type" : "string"
                }
              },
              "pragma" : {
                "description" : "response header",
                "schema" : {
                  "type" : "string"
                }
              },
              "strict-transport-security" : {
                "description" : "response header",
                "schema" : {
                  "type" : "string"
                }
              },
              "x-content-type-options" : {
                "description" : "response header",
                "schema" : {
                  "type" : "string"
                }
              },
              "x-xss-protection" : {
                "description" : "response header",
                "schema" : {
                  "type" : "string"
                }
              },
              "content-type" : {
                "description" : "response header",
                "schema" : {
                  "type" : "string"
                }
              },
              "cache-control" : {
                "description" : "response header",
                "schema" : {
                  "type" : "string"
                }
              }
            },
            "content" : {
              "*/*" : {
                "schema" : {
                  "type" : "array",
                  "example" : "[]",
                  "items" : {
                    "type" : "object"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/genaratexpath" : {
      "post" : {
        "tags" : [ "API Design- OAS2.0&OAS3.0" ],
        "summary" : "genarateXpath",
        "operationId" : "genarateXpath",
        "parameters" : [ {
          "name" : "interactionid",
          "in" : "header",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "JSESSIONID",
          "in" : "header",
          "schema" : {
            "type" : "string"
          },
          "example" : "{{jsessionid}}"
        } ],
        "requestBody" : {
          "content" : {
            "multipart/form-data" : {
              "schema" : {
                "properties" : {
                  "elementname" : {
                    "type" : "string",
                    "example" : "PurchaseOrder"
                  },
                  "type" : {
                    "type" : "string",
                    "example" : "DTO"
                  },
                  "xsdfile" : {
                    "type" : "string",
                    "example" : "test.xsd"
                  }
                }
              }
            }
          }
        },
        "responses" : {
          "200" : {
            "description" : "Response for endpoint POST-itorix/v1/genaratexpath",
            "headers" : {
              "date" : {
                "description" : "response header",
                "schema" : {
                  "type" : "string"
                }
              },
              "server" : {
                "description" : "response header",
                "schema" : {
                  "type" : "string"
                }
              },
              "expires" : {
                "description" : "response header",
                "schema" : {
                  "type" : "string"
                }
              },
              "x-envoy-upstream-service-time" : {
                "description" : "response header",
                "schema" : {
                  "type" : "string"
                }
              },
              "transfer-encoding" : {
                "description" : "response header",
                "schema" : {
                  "type" : "string"
                }
              },
              "vary" : {
                "description" : "response header",
                "schema" : {
                  "type" : "string"
                }
              },
              "x-frame-options" : {
                "description" : "response header",
                "schema" : {
                  "type" : "string"
                }
              },
              "pragma" : {
                "description" : "response header",
                "schema" : {
                  "type" : "string"
                }
              },
              "strict-transport-security" : {
                "description" : "response header",
                "schema" : {
                  "type" : "string"
                }
              },
              "x-content-type-options" : {
                "description" : "response header",
                "schema" : {
                  "type" : "string"
                }
              },
              "x-xss-protection" : {
                "description" : "response header",
                "schema" : {
                  "type" : "string"
                }
              },
              "content-type" : {
                "description" : "response header",
                "schema" : {
                  "type" : "string"
                }
              },
              "cache-control" : {
                "description" : "response header",
                "schema" : {
                  "type" : "string"
                }
              }
            },
            "content" : {
              "*/*" : {
                "schema" : {
                  "type" : "array",
                  "example" : "[{\"include\":\"Include\",\"xpath\":\" Element Path \",\"minOccurs\":\" Min \",\"maxOccurs\":\" Max \",\"xsdType\":\" XSD Type \",\"jsonType\":\"JSON Type\",\"jsonFormat\":\"JSON Format\",\"enums\":\" Enum \",\"minLength\":\" Min Length \",\"maxLength\":\" Max Length \",\"length\":\" Length \",\"pattern\":\" Pattern \",\"documentation\":\" Documentation\"},{\"include\":\"\",\"xpath\":\"/PurchaseOrder\",\"minOccurs\":\"1\",\"maxOccurs\":\"1\",\"xsdType\":\"Complex\",\"jsonType\":\"object\",\"jsonFormat\":\"\",\"enums\":\"\",\"minLength\":\"\",\"maxLength\":\"\",\"length\":\"\",\"pattern\":\"\",\"documentation\":\"\"},{\"include\":\"\",\"xpath\":\"/PurchaseOrder/@OrderDate\",\"minOccurs\":\"0\",\"maxOccurs\":\"1\",\"xsdType\":\"String\",\"jsonType\":\"string\",\"jsonFormat\":\"\",\"enums\":\"\",\"minLength\":\"\",\"maxLength\":\"\",\"length\":\"\",\"pattern\":\"\",\"documentation\":\"\"},{\"include\":\"\",\"xpath\":\"/PurchaseOrder/ShipTo\",\"minOccurs\":\"1\",\"maxOccurs\":\"*\",\"xsdType\":\"Complex\",\"jsonType\":\"object\",\"jsonFormat\":\"\",\"enums\":\"\",\"minLength\":\"\",\"maxLength\":\"\",\"length\":\"\",\"pattern\":\"\",\"documentation\":\"\"},{\"include\":\"\",\"xpath\":\"/PurchaseOrder/ShipTo/@country\",\"minOccurs\":\"0\",\"maxOccurs\":\"1\",\"xsdType\":\"String\",\"jsonType\":\"string\",\"jsonFormat\":\"\",\"enums\":\"\",\"minLength\":\"\",\"maxLength\":\"\",\"length\":\"\",\"pattern\":\"\",\"documentation\":\"\"},{\"include\":\"\",\"xpath\":\"/PurchaseOrder/ShipTo/name\",\"minOccurs\":\"1\",\"maxOccurs\":\"1\",\"xsdType\":\"String\",\"jsonType\":\"string\",\"jsonFormat\":\"\",\"enums\":\"\",\"minLength\":\"\",\"maxLength\":\"\",\"length\":\"\",\"pattern\":\"\",\"documentation\":\"\"},{\"include\":\"\",\"xpath\":\"/PurchaseOrder/ShipTo/street\",\"minOccurs\":\"1\",\"maxOccurs\":\"1\",\"xsdType\":\"String\",\"jsonType\":\"string\",\"jsonFormat\":\"\",\"enums\":\"\",\"minLength\":\"\",\"maxLength\":\"\",\"length\":\"\",\"pattern\":\"\",\"documentation\":\"\"},{\"include\":\"\",\"xpath\":\"/PurchaseOrder/ShipTo/city\",\"minOccurs\":\"1\",\"maxOccurs\":\"1\",\"xsdType\":\"String\",\"jsonType\":\"string\",\"jsonFormat\":\"\",\"enums\":\"\",\"minLength\":\"\",\"maxLength\":\"\",\"length\":\"\",\"pattern\":\"\",\"documentation\":\"\"},{\"include\":\"\",\"xpath\":\"/PurchaseOrder/ShipTo/state\",\"minOccurs\":\"1\",\"maxOccurs\":\"1\",\"xsdType\":\"String\",\"jsonType\":\"string\",\"jsonFormat\":\"\",\"enums\":\"\",\"minLength\":\"\",\"maxLength\":\"\",\"length\":\"\",\"pattern\":\"\",\"documentation\":\"\"},{\"include\":\"\",\"xpath\":\"/PurchaseOrder/ShipTo/zip\",\"minOccurs\":\"1\",\"maxOccurs\":\"1\",\"xsdType\":\"integer\",\"jsonType\":\"integer\",\"jsonFormat\":\"int32\",\"enums\":\"\",\"minLength\":\"\",\"maxLength\":\"\",\"length\":\"\",\"pattern\":\"\",\"documentation\":\"\"},{\"include\":\"\",\"xpath\":\"/PurchaseOrder/BillTo\",\"minOccurs\":\"1\",\"maxOccurs\":\"1\",\"xsdType\":\"Complex\",\"jsonType\":\"object\",\"jsonFormat\":\"\",\"enums\":\"\",\"minLength\":\"\",\"maxLength\":\"\",\"length\":\"\",\"pattern\":\"\",\"documentation\":\"\"},{\"include\":\"\",\"xpath\":\"/PurchaseOrder/BillTo/@country\",\"minOccurs\":\"0\",\"maxOccurs\":\"1\",\"xsdType\":\"String\",\"jsonType\":\"string\",\"jsonFormat\":\"\",\"enums\":\"\",\"minLength\":\"\",\"maxLength\":\"\",\"length\":\"\",\"pattern\":\"\",\"documentation\":\"\"},{\"include\":\"\",\"xpath\":\"/PurchaseOrder/BillTo/name\",\"minOccurs\":\"1\",\"maxOccurs\":\"1\",\"xsdType\":\"String\",\"jsonType\":\"string\",\"jsonFormat\":\"\",\"enums\":\"\",\"minLength\":\"\",\"maxLength\":\"\",\"length\":\"\",\"pattern\":\"\",\"documentation\":\"\"},{\"include\":\"\",\"xpath\":\"/PurchaseOrder/BillTo/street\",\"minOccurs\":\"1\",\"maxOccurs\":\"1\",\"xsdType\":\"String\",\"jsonType\":\"string\",\"jsonFormat\":\"\",\"enums\":\"\",\"minLength\":\"\",\"maxLength\":\"\",\"length\":\"\",\"pattern\":\"\",\"documentation\":\"\"},{\"include\":\"\",\"xpath\":\"/PurchaseOrder/BillTo/city\",\"minOccurs\":\"1\",\"maxOccurs\":\"1\",\"xsdType\":\"String\",\"jsonType\":\"string\",\"jsonFormat\":\"\",\"enums\":\"\",\"minLength\":\"\",\"maxLength\":\"\",\"length\":\"\",\"pattern\":\"\",\"documentation\":\"\"},{\"include\":\"\",\"xpath\":\"/PurchaseOrder/BillTo/state\",\"minOccurs\":\"1\",\"maxOccurs\":\"1\",\"xsdType\":\"String\",\"jsonType\":\"string\",\"jsonFormat\":\"\",\"enums\":\"\",\"minLength\":\"\",\"maxLength\":\"\",\"length\":\"\",\"pattern\":\"\",\"documentation\":\"\"},{\"include\":\"\",\"xpath\":\"/PurchaseOrder/BillTo/zip\",\"minOccurs\":\"1\",\"maxOccurs\":\"1\",\"xsdType\":\"integer\",\"jsonType\":\"integer\",\"jsonFormat\":\"int32\",\"enums\":\"\",\"minLength\":\"\",\"maxLength\":\"\",\"length\":\"\",\"pattern\":\"\",\"documentation\":\"\"}]",
                  "items" : {
                    "required" : [ "documentation", "enums", "include", "jsonFormat", "jsonType", "length", "maxLength", "maxOccurs", "minLength", "minOccurs", "pattern", "xpath", "xsdType" ],
                    "type" : "object",
                    "properties" : {
                      "include" : {
                        "type" : "string"
                      },
                      "xpath" : {
                        "type" : "string"
                      },
                      "minOccurs" : {
                        "type" : "string"
                      },
                      "maxOccurs" : {
                        "type" : "string"
                      },
                      "xsdType" : {
                        "type" : "string"
                      },
                      "jsonType" : {
                        "type" : "string"
                      },
                      "jsonFormat" : {
                        "type" : "string"
                      },
                      "enums" : {
                        "type" : "string"
                      },
                      "minLength" : {
                        "type" : "string"
                      },
                      "maxLength" : {
                        "type" : "string"
                      },
                      "length" : {
                        "type" : "string"
                      },
                      "pattern" : {
                        "type" : "string"
                      },
                      "documentation" : {
                        "type" : "string"
                      }
                    }
                  }
                }
              }
            }
          },
          "500" : {
            "description" : "Response for endpoint POST-itorix/v1/genaratexpath"
          }
        }
      }
    },
    "/v1/swaggers/reviews" : {
      "put" : {
        "tags" : [ "API Design- OAS2.0&OAS3.0" ],
        "summary" : "updateReviewComment",
        "operationId" : "updateReviewComment",
        "parameters" : [ {
          "name" : "Content-Type",
          "in" : "header",
          "schema" : {
            "type" : "string"
          },
          "example" : "application/json"
        }, {
          "name" : "interactionid",
          "in" : "header",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "Accept",
          "in" : "header",
          "schema" : {
            "type" : "string"
          },
          "example" : "application/json"
        }, {
          "name" : "JSESSIONID",
          "in" : "header",
          "schema" : {
            "type" : "string"
          },
          "example" : "{{jsessionid}}"
        }, {
          "name" : "oas",
          "in" : "header",
          "schema" : {
            "type" : "string"
          },
          "example" : "{{oas-version}}"
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "required" : [ "comment", "commentId", "revision", "swaggerName" ],
                "type" : "object",
                "properties" : {
                  "commentId" : {
                    "type" : "string"
                  },
                  "swaggerName" : {
                    "type" : "string"
                  },
                  "revision" : {
                    "type" : "integer"
                  },
                  "comment" : {
                    "type" : "string"
                  }
                },
                "additionalProperties" : {
                  "type" : "object"
                },
                "description" : "Request Body",
                "example" : "{\r\n  \"commentId\":\"640accf109480513c66b0af3\",\r\n \"swaggerName\":\"gautami\",\r\n  \"revision\":1,\r\n  \"comment\":\"Security schemes should only contain https\"\r\n}\r\n"
              }
            }
          },
          "required" : false
        },
        "responses" : {
          "204" : {
            "description" : "Response for endpoint PUT-itorix/v1/swaggers/reviews",
            "headers" : {
              "date" : {
                "description" : "response header",
                "schema" : {
                  "type" : "string"
                }
              },
              "server" : {
                "description" : "response header",
                "schema" : {
                  "type" : "string"
                }
              },
              "expires" : {
                "description" : "response header",
                "schema" : {
                  "type" : "string"
                }
              },
              "x-envoy-upstream-service-time" : {
                "description" : "response header",
                "schema" : {
                  "type" : "string"
                }
              },
              "x-content-type-options" : {
                "description" : "response header",
                "schema" : {
                  "type" : "string"
                }
              },
              "x-xss-protection" : {
                "description" : "response header",
                "schema" : {
                  "type" : "string"
                }
              },
              "vary" : {
                "description" : "response header",
                "schema" : {
                  "type" : "string"
                }
              },
              "x-frame-options" : {
                "description" : "response header",
                "schema" : {
                  "type" : "string"
                }
              },
              "cache-control" : {
                "description" : "response header",
                "schema" : {
                  "type" : "string"
                }
              },
              "pragma" : {
                "description" : "response header",
                "schema" : {
                  "type" : "string"
                }
              },
              "strict-transport-security" : {
                "description" : "response header",
                "schema" : {
                  "type" : "string"
                }
              }
            }
          }
        },
        "x-codegen-request-body-name" : "Request Body"
      },
      "post" : {
        "tags" : [ "API Design- OAS2.0&OAS3.0" ],
        "summary" : "createReviewComment",
        "operationId" : "createReviewComment",
        "parameters" : [ {
          "name" : "Content-Type",
          "in" : "header",
          "schema" : {
            "type" : "string"
          },
          "example" : "application/json"
        }, {
          "name" : "interactionid",
          "in" : "header",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "Accept",
          "in" : "header",
          "schema" : {
            "type" : "string"
          },
          "example" : "application/json"
        }, {
          "name" : "JSESSIONID",
          "in" : "header",
          "schema" : {
            "type" : "string"
          },
          "example" : "{{jsessionid}}"
        }, {
          "name" : "oas",
          "in" : "header",
          "schema" : {
            "type" : "string"
          },
          "example" : "{{oas-version}}"
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "required" : [ "comment", "revision", "swaggerName" ],
                "type" : "object",
                "properties" : {
                  "swaggerName" : {
                    "type" : "string"
                  },
                  "revision" : {
                    "type" : "integer"
                  },
                  "comment" : {
                    "type" : "string"
                  }
                },
                "additionalProperties" : {
                  "type" : "object"
                },
                "description" : "Request Body",
                "example" : "{\r\n  \"swaggerName\":\"gautami\",\r\n  \"revision\":1,\r\n  \"comment\":\"Security schemes should only contain https\"\r\n}\r\n"
              }
            }
          },
          "required" : false
        },
        "responses" : {
          "201" : {
            "description" : "Response for endpoint POST-itorix/v1/swaggers/reviews",
            "headers" : {
              "date" : {
                "description" : "response header",
                "schema" : {
                  "type" : "string"
                }
              },
              "content-length" : {
                "description" : "response header",
                "schema" : {
                  "type" : "string"
                }
              },
              "server" : {
                "description" : "response header",
                "schema" : {
                  "type" : "string"
                }
              },
              "expires" : {
                "description" : "response header",
                "schema" : {
                  "type" : "string"
                }
              },
              "x-envoy-upstream-service-time" : {
                "description" : "response header",
                "schema" : {
                  "type" : "string"
                }
              },
              "x-content-type-options" : {
                "description" : "response header",
                "schema" : {
                  "type" : "string"
                }
              },
              "x-xss-protection" : {
                "description" : "response header",
                "schema" : {
                  "type" : "string"
                }
              },
              "vary" : {
                "description" : "response header",
                "schema" : {
                  "type" : "string"
                }
              },
              "x-frame-options" : {
                "description" : "response header",
                "schema" : {
                  "type" : "string"
                }
              },
              "cache-control" : {
                "description" : "response header",
                "schema" : {
                  "type" : "string"
                }
              },
              "pragma" : {
                "description" : "response header",
                "schema" : {
                  "type" : "string"
                }
              },
              "strict-transport-security" : {
                "description" : "response header",
                "schema" : {
                  "type" : "string"
                }
              }
            }
          },
          "404" : {
            "description" : "Response for endpoint POST-itorix/v1/swaggers/reviews",
            "headers" : {
              "date" : {
                "description" : "response header",
                "schema" : {
                  "type" : "string"
                }
              },
              "server" : {
                "description" : "response header",
                "schema" : {
                  "type" : "string"
                }
              },
              "x-envoy-upstream-service-time" : {
                "description" : "response header",
                "schema" : {
                  "type" : "string"
                }
              },
              "transfer-encoding" : {
                "description" : "response header",
                "schema" : {
                  "type" : "string"
                }
              },
              "vary" : {
                "description" : "response header",
                "schema" : {
                  "type" : "string"
                }
              },
              "content-type" : {
                "description" : "response header",
                "schema" : {
                  "type" : "string"
                }
              }
            },
            "content" : {
              "*/*" : {
                "schema" : {
                  "required" : [ "error" ],
                  "type" : "object",
                  "properties" : {
                    "error" : {
                      "required" : [ "statusCode", "userMessage" ],
                      "type" : "object",
                      "properties" : {
                        "userMessage" : {
                          "type" : "string"
                        },
                        "statusCode" : {
                          "type" : "string"
                        }
                      }
                    }
                  },
                  "example" : "{\"error\":{\"userMessage\":\"Resource not found. Please check the request and retry again.\",\"statusCode\":\"Swagger-1000\"}}"
                }
              }
            }
          }
        },
        "x-codegen-request-body-name" : "Request Body"
      }
    },
    "/v1/swaggers/stats" : {
      "get" : {
        "tags" : [ "API Design- OAS2.0&OAS3.0" ],
        "summary" : "getSwaggerStats",
        "operationId" : "getSwaggerStats",
        "parameters" : [ {
          "name" : "Content-Type",
          "in" : "header",
          "schema" : {
            "type" : "string"
          },
          "example" : "application/json"
        }, {
          "name" : "timerange",
          "in" : "query",
          "schema" : {
            "type" : "string"
          },
          "example" : "06/09/2018~06/09/2018"
        }, {
          "name" : "timeunit",
          "in" : "query",
          "schema" : {
            "type" : "string"
          },
          "example" : "week"
        }, {
          "name" : "interactionid",
          "in" : "header",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "JSESSIONID",
          "in" : "header",
          "schema" : {
            "type" : "string"
          },
          "example" : "{{jsessionid}}"
        }, {
          "name" : "oas",
          "in" : "header",
          "schema" : {
            "type" : "string"
          },
          "example" : "{{oas-version}}"
        } ],
        "responses" : {
          "200" : {
            "description" : "Response for endpoint GET-itorix/v1/swaggers/stats",
            "headers" : {
              "date" : {
                "description" : "response header",
                "schema" : {
                  "type" : "string"
                }
              },
              "server" : {
                "description" : "response header",
                "schema" : {
                  "type" : "string"
                }
              },
              "expires" : {
                "description" : "response header",
                "schema" : {
                  "type" : "string"
                }
              },
              "x-envoy-upstream-service-time" : {
                "description" : "response header",
                "schema" : {
                  "type" : "string"
                }
              },
              "transfer-encoding" : {
                "description" : "response header",
                "schema" : {
                  "type" : "string"
                }
              },
              "vary" : {
                "description" : "response header",
                "schema" : {
                  "type" : "string"
                }
              },
              "x-frame-options" : {
                "description" : "response header",
                "schema" : {
                  "type" : "string"
                }
              },
              "pragma" : {
                "description" : "response header",
                "schema" : {
                  "type" : "string"
                }
              },
              "strict-transport-security" : {
                "description" : "response header",
                "schema" : {
                  "type" : "string"
                }
              },
              "x-content-type-options" : {
                "description" : "response header",
                "schema" : {
                  "type" : "string"
                }
              },
              "x-xss-protection" : {
                "description" : "response header",
                "schema" : {
                  "type" : "string"
                }
              },
              "content-type" : {
                "description" : "response header",
                "schema" : {
                  "type" : "string"
                }
              },
              "cache-control" : {
                "description" : "response header",
                "schema" : {
                  "type" : "string"
                }
              }
            },
            "content" : {
              "*/*" : {
                "schema" : {
                  "required" : [ "stats" ],
                  "type" : "object",
                  "properties" : {
                    "stats" : {
                      "type" : "array",
                      "items" : {
                        "required" : [ "count", "name" ],
                        "type" : "object",
                        "properties" : {
                          "name" : {
                            "type" : "string"
                          },
                          "count" : {
                            "type" : "string"
                          }
                        }
                      }
                    }
                  },
                  "example" : "{\"metrics\":null,\"stats\":[{\"name\":\"Draft\",\"count\":\"299\",\"swaggers\":null},{\"name\":\"Deprecate\",\"count\":\"1\",\"swaggers\":null},{\"name\":\"Change Required\",\"count\":\"1\",\"swaggers\":null},{\"name\":\"Approved\",\"count\":\"6\",\"swaggers\":null},{\"name\":\"Review\",\"count\":\"8\",\"swaggers\":null},{\"name\":\"Publish\",\"count\":\"39\",\"swaggers\":null}]}"
                }
              }
            }
          },
          "401" : {
            "description" : "Response for endpoint GET-itorix/v1/swaggers/stats",
            "headers" : {
              "date" : {
                "description" : "response header",
                "schema" : {
                  "type" : "string"
                }
              },
              "server" : {
                "description" : "response header",
                "schema" : {
                  "type" : "string"
                }
              },
              "x-envoy-upstream-service-time" : {
                "description" : "response header",
                "schema" : {
                  "type" : "string"
                }
              },
              "transfer-encoding" : {
                "description" : "response header",
                "schema" : {
                  "type" : "string"
                }
              },
              "vary" : {
                "description" : "response header",
                "schema" : {
                  "type" : "string"
                }
              },
              "content-type" : {
                "description" : "response header",
                "schema" : {
                  "type" : "string"
                }
              }
            },
            "content" : {
              "*/*" : {
                "schema" : {
                  "required" : [ "error" ],
                  "type" : "object",
                  "properties" : {
                    "error" : {
                      "required" : [ "statusCode", "userMessage" ],
                      "type" : "object",
                      "properties" : {
                        "userMessage" : {
                          "type" : "string"
                        },
                        "statusCode" : {
                          "type" : "string"
                        }
                      }
                    }
                  },
                  "example" : "{\"error\":{\"userMessage\":\"Request Validation Failed. Invalid Session Token\",\"statusCode\":\"Identity-1032\"}}"
                }
              }
            }
          },
          "503" : {
            "description" : "Response for endpoint GET-itorix/v1/swaggers/stats",
            "headers" : {
              "date" : {
                "description" : "response header",
                "schema" : {
                  "type" : "string"
                }
              },
              "content-length" : {
                "description" : "response header",
                "schema" : {
                  "type" : "string"
                }
              },
              "server" : {
                "description" : "response header",
                "schema" : {
                  "type" : "string"
                }
              },
              "content-type" : {
                "description" : "response header",
                "schema" : {
                  "type" : "string"
                }
              }
            }
          }
        }
      }
    },
    "/v1/teams/stats" : {
      "get" : {
        "tags" : [ "API Design- OAS2.0&OAS3.0" ],
        "summary" : "getTeamStats",
        "operationId" : "getTeamStats",
        "parameters" : [ {
          "name" : "interactionid",
          "in" : "header",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "timerange",
          "in" : "query",
          "schema" : {
            "type" : "string"
          },
          "example" : "01/01/2022~12/14/2022"
        }, {
          "name" : "JSESSIONID",
          "in" : "header",
          "schema" : {
            "type" : "string"
          },
          "example" : "{{jsessionid}}"
        }, {
          "name" : "timeunit",
          "in" : "query",
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Response for endpoint GET-itorix/v1/teams/stats",
            "headers" : {
              "date" : {
                "description" : "response header",
                "schema" : {
                  "type" : "string"
                }
              },
              "server" : {
                "description" : "response header",
                "schema" : {
                  "type" : "string"
                }
              },
              "expires" : {
                "description" : "response header",
                "schema" : {
                  "type" : "string"
                }
              },
              "x-envoy-upstream-service-time" : {
                "description" : "response header",
                "schema" : {
                  "type" : "string"
                }
              },
              "transfer-encoding" : {
                "description" : "response header",
                "schema" : {
                  "type" : "string"
                }
              },
              "vary" : {
                "description" : "response header",
                "schema" : {
                  "type" : "string"
                }
              },
              "x-frame-options" : {
                "description" : "response header",
                "schema" : {
                  "type" : "string"
                }
              },
              "pragma" : {
                "description" : "response header",
                "schema" : {
                  "type" : "string"
                }
              },
              "strict-transport-security" : {
                "description" : "response header",
                "schema" : {
                  "type" : "string"
                }
              },
              "x-content-type-options" : {
                "description" : "response header",
                "schema" : {
                  "type" : "string"
                }
              },
              "x-xss-protection" : {
                "description" : "response header",
                "schema" : {
                  "type" : "string"
                }
              },
              "content-type" : {
                "description" : "response header",
                "schema" : {
                  "type" : "string"
                }
              },
              "cache-control" : {
                "description" : "response header",
                "schema" : {
                  "type" : "string"
                }
              }
            },
            "content" : {
              "*/*" : {
                "schema" : {
                  "required" : [ "metrics", "stats" ],
                  "type" : "object",
                  "properties" : {
                    "metrics" : {
                      "required" : [ "values" ],
                      "type" : "object",
                      "properties" : {
                        "values" : {
                          "type" : "array",
                          "items" : {
                            "type" : "object"
                          }
                        }
                      }
                    },
                    "stats" : {
                      "type" : "array",
                      "items" : {
                        "required" : [ "contactscount", "name", "swaggerscount" ],
                        "type" : "object",
                        "properties" : {
                          "name" : {
                            "type" : "string"
                          },
                          "contactscount" : {
                            "type" : "integer"
                          },
                          "swaggerscount" : {
                            "type" : "integer"
                          }
                        }
                      }
                    }
                  },
                  "example" : "{\"metrics\":{\"type\":null,\"values\":[]},\"stats\":[{\"name\":\"ITORIX-TEAM\",\"contactscount\":1,\"swaggerscount\":1},{\"name\":\"Team-Two\",\"contactscount\":2,\"swaggerscount\":6},{\"name\":\"apiwiz team\",\"contactscount\":3,\"swaggerscount\":12},{\"name\":\"newTeam\",\"contactscount\":1,\"swaggerscount\":1},{\"name\":\"test\",\"contactscount\":3,\"swaggerscount\":2},{\"name\":\"testing team\",\"contactscount\":0,\"swaggerscount\":0}]}"
                }
              }
            }
          },
          "500" : {
            "description" : "Response for endpoint GET-itorix/v1/teams/stats",
            "headers" : {
              "date" : {
                "description" : "response header",
                "schema" : {
                  "type" : "string"
                }
              },
              "server" : {
                "description" : "response header",
                "schema" : {
                  "type" : "string"
                }
              },
              "expires" : {
                "description" : "response header",
                "schema" : {
                  "type" : "string"
                }
              },
              "x-envoy-upstream-service-time" : {
                "description" : "response header",
                "schema" : {
                  "type" : "string"
                }
              },
              "transfer-encoding" : {
                "description" : "response header",
                "schema" : {
                  "type" : "string"
                }
              },
              "vary" : {
                "description" : "response header",
                "schema" : {
                  "type" : "string"
                }
              },
              "x-frame-options" : {
                "description" : "response header",
                "schema" : {
                  "type" : "string"
                }
              },
              "pragma" : {
                "description" : "response header",
                "schema" : {
                  "type" : "string"
                }
              },
              "strict-transport-security" : {
                "description" : "response header",
                "schema" : {
                  "type" : "string"
                }
              },
              "x-content-type-options" : {
                "description" : "response header",
                "schema" : {
                  "type" : "string"
                }
              },
              "x-xss-protection" : {
                "description" : "response header",
                "schema" : {
                  "type" : "string"
                }
              },
              "content-type" : {
                "description" : "response header",
                "schema" : {
                  "type" : "string"
                }
              },
              "cache-control" : {
                "description" : "response header",
                "schema" : {
                  "type" : "string"
                }
              }
            },
            "content" : {
              "*/*" : {
                "schema" : {
                  "required" : [ "error" ],
                  "type" : "object",
                  "properties" : {
                    "error" : {
                      "required" : [ "statusCode", "userMessage" ],
                      "type" : "object",
                      "properties" : {
                        "userMessage" : {
                          "type" : "string"
                        },
                        "statusCode" : {
                          "type" : "string"
                        }
                      }
                    }
                  },
                  "example" : "{\"error\":{\"userMessage\":\"Internal server error. Please contact support for further instructions.\",\"statusCode\":\"General-1000\"}}"
                }
              }
            }
          }
        }
      }
    },
    "/v1/swagger-gen/clients/servers" : {
      "get" : {
        "tags" : [ "API Design- OAS2.0&OAS3.0" ],
        "summary" : "getClientsServers",
        "operationId" : "getClientsServers",
        "parameters" : [ {
          "name" : "interactionid",
          "in" : "header",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "Accept",
          "in" : "header",
          "schema" : {
            "type" : "string"
          },
          "example" : "application/json"
        }, {
          "name" : "JSESSIONID",
          "in" : "header",
          "schema" : {
            "type" : "string"
          },
          "example" : "{{jsessionid}}"
        }, {
          "name" : "oas",
          "in" : "header",
          "schema" : {
            "type" : "string"
          },
          "example" : "{{oas-version}}"
        } ],
        "responses" : {
          "200" : {
            "description" : "Response for endpoint GET-itorix/v1/swagger-gen/clients/servers",
            "headers" : {
              "date" : {
                "description" : "response header",
                "schema" : {
                  "type" : "string"
                }
              },
              "server" : {
                "description" : "response header",
                "schema" : {
                  "type" : "string"
                }
              },
              "expires" : {
                "description" : "response header",
                "schema" : {
                  "type" : "string"
                }
              },
              "x-envoy-upstream-service-time" : {
                "description" : "response header",
                "schema" : {
                  "type" : "string"
                }
              },
              "transfer-encoding" : {
                "description" : "response header",
                "schema" : {
                  "type" : "string"
                }
              },
              "vary" : {
                "description" : "response header",
                "schema" : {
                  "type" : "string"
                }
              },
              "x-frame-options" : {
                "description" : "response header",
                "schema" : {
                  "type" : "string"
                }
              },
              "pragma" : {
                "description" : "response header",
                "schema" : {
                  "type" : "string"
                }
              },
              "strict-transport-security" : {
                "description" : "response header",
                "schema" : {
                  "type" : "string"
                }
              },
              "x-content-type-options" : {
                "description" : "response header",
                "schema" : {
                  "type" : "string"
                }
              },
              "x-xss-protection" : {
                "description" : "response header",
                "schema" : {
                  "type" : "string"
                }
              },
              "content-type" : {
                "description" : "response header",
                "schema" : {
                  "type" : "string"
                }
              },
              "cache-control" : {
                "description" : "response header",
                "schema" : {
                  "type" : "string"
                }
              }
            },
            "content" : {
              "*/*" : {
                "schema" : {
                  "required" : [ "clients", "servers" ],
                  "type" : "object",
                  "properties" : {
                    "clients" : {
                      "type" : "array",
                      "items" : {
                        "type" : "string"
                      }
                    },
                    "servers" : {
                      "type" : "array",
                      "items" : {
                        "type" : "string"
                      }
                    }
                  },
                  "example" : "{\"clients\":[\"android\",\"cwiki\",\"dynamic-html\",\"groovy\",\"html\",\"html2\",\"javascript\",\"ruby\",\"scala\",\"typescript-angularjs\",\"typescript-jquery\",\"typescript-node\"],\"servers\":[\"jaxrs-cxf\",\"jaxrs\",\"nodejs-server\",\"test1234567\"]}"
                }
              }
            }
          }
        }
      }
    },
    "/v1/swaggers/validate" : {
      "post" : {
        "tags" : [ "API Design- OAS2.0&OAS3.0" ],
        "summary" : "validateSwagger",
        "operationId" : "validateSwagger",
        "parameters" : [ {
          "name" : "Content-Type",
          "in" : "header",
          "schema" : {
            "type" : "string"
          },
          "example" : "application/json"
        }, {
          "name" : "interactionid",
          "in" : "header",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "JSESSIONID",
          "in" : "header",
          "schema" : {
            "type" : "string"
          },
          "example" : "{{jsessionid}}"
        }, {
          "name" : "oas",
          "in" : "header",
          "schema" : {
            "type" : "string"
          },
          "example" : "{{oas-version}}"
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "required" : [ "basePath", "definitions", "host", "info", "paths", "produces", "schemes", "swagger" ],
                "type" : "object",
                "properties" : {
                  "swagger" : {
                    "type" : "string"
                  },
                  "info" : {
                    "required" : [ "description", "title", "version", "x-apisguru-categories", "x-description-language", "x-logo", "x-origin", "x-preferred", "x-providerName" ],
                    "type" : "object",
                    "properties" : {
                      "description" : {
                        "type" : "string"
                      },
                      "version" : {
                        "type" : "string"
                      },
                      "title" : {
                        "type" : "string"
                      },
                      "x-apisguru-categories" : {
                        "type" : "array",
                        "items" : {
                          "type" : "string"
                        }
                      },
                      "x-description-language" : {
                        "type" : "string"
                      },
                      "x-logo" : {
                        "required" : [ "backgroundColor", "url" ],
                        "type" : "object",
                        "properties" : {
                          "backgroundColor" : {
                            "type" : "string"
                          },
                          "url" : {
                            "type" : "string"
                          }
                        }
                      },
                      "x-origin" : {
                        "type" : "array",
                        "items" : {
                          "required" : [ "format", "url", "version" ],
                          "type" : "object",
                          "properties" : {
                            "format" : {
                              "type" : "string"
                            },
                            "url" : {
                              "type" : "string"
                            },
                            "version" : {
                              "type" : "string"
                            }
                          }
                        }
                      },
                      "x-providerName" : {
                        "type" : "string"
                      },
                      "x-preferred" : {
                        "type" : "boolean"
                      }
                    }
                  },
                  "host" : {
                    "type" : "string"
                  },
                  "basePath" : {
                    "type" : "string"
                  },
                  "schemes" : {
                    "type" : "array",
                    "items" : {
                      "type" : "string"
                    }
                  },
                  "produces" : {
                    "type" : "array",
                    "items" : {
                      "type" : "string"
                    }
                  },
                  "paths" : {
                    "required" : [ "/forms", "/me", "/serviceV3" ],
                    "type" : "object",
                    "properties" : {
                      "/forms" : {
                        "required" : [ "get" ],
                        "type" : "object",
                        "properties" : {
                          "get" : {
                            "required" : [ "description", "parameters", "responses", "summary", "tags" ],
                            "type" : "object",
                            "properties" : {
                              "tags" : {
                                "type" : "array",
                                "items" : {
                                  "type" : "string"
                                }
                              },
                              "summary" : {
                                "type" : "string"
                              },
                              "description" : {
                                "type" : "string"
                              },
                              "parameters" : {
                                "type" : "array",
                                "items" : {
                                  "required" : [ "description", "in", "name", "required", "type" ],
                                  "type" : "object",
                                  "properties" : {
                                    "name" : {
                                      "type" : "string"
                                    },
                                    "in" : {
                                      "type" : "string"
                                    },
                                    "description" : {
                                      "type" : "string"
                                    },
                                    "required" : {
                                      "type" : "boolean"
                                    },
                                    "type" : {
                                      "type" : "string"
                                    }
                                  }
                                }
                              },
                              "responses" : {
                                "required" : [ "200", "default" ],
                                "type" : "object",
                                "properties" : {
                                  "200" : {
                                    "required" : [ "description", "schema" ],
                                    "type" : "object",
                                    "properties" : {
                                      "description" : {
                                        "type" : "string"
                                      },
                                      "schema" : {
                                        "required" : [ "items", "type" ],
                                        "type" : "object",
                                        "properties" : {
                                          "type" : {
                                            "type" : "string"
                                          },
                                          "items" : {
                                            "required" : [ "$ref" ],
                                            "type" : "object",
                                            "properties" : {
                                              "$ref" : {
                                                "type" : "string"
                                              }
                                            }
                                          }
                                        }
                                      }
                                    }
                                  },
                                  "default" : {
                                    "required" : [ "description", "schema" ],
                                    "type" : "object",
                                    "properties" : {
                                      "description" : {
                                        "type" : "string"
                                      },
                                      "schema" : {
                                        "required" : [ "$ref" ],
                                        "type" : "object",
                                        "properties" : {
                                          "$ref" : {
                                            "type" : "string"
                                          }
                                        }
                                      }
                                    }
                                  }
                                }
                              }
                            }
                          }
                        }
                      },
                      "/me" : {
                        "required" : [ "post" ],
                        "type" : "object",
                        "properties" : {
                          "post" : {
                            "required" : [ "description", "parameters", "responses", "summary", "tags" ],
                            "type" : "object",
                            "properties" : {
                              "tags" : {
                                "type" : "array",
                                "items" : {
                                  "type" : "string"
                                }
                              },
                              "summary" : {
                                "type" : "string"
                              },
                              "description" : {
                                "type" : "string"
                              },
                              "parameters" : {
                                "type" : "array",
                                "items" : {
                                  "required" : [ "description", "in", "name", "required", "type" ],
                                  "type" : "object",
                                  "properties" : {
                                    "name" : {
                                      "type" : "string"
                                    },
                                    "in" : {
                                      "type" : "string"
                                    },
                                    "description" : {
                                      "type" : "string"
                                    },
                                    "required" : {
                                      "type" : "boolean"
                                    },
                                    "type" : {
                                      "type" : "string"
                                    }
                                  }
                                }
                              },
                              "responses" : {
                                "required" : [ "200", "default" ],
                                "type" : "object",
                                "properties" : {
                                  "200" : {
                                    "required" : [ "description", "schema" ],
                                    "type" : "object",
                                    "properties" : {
                                      "description" : {
                                        "type" : "string"
                                      },
                                      "schema" : {
                                        "required" : [ "$ref" ],
                                        "type" : "object",
                                        "properties" : {
                                          "$ref" : {
                                            "type" : "string"
                                          }
                                        }
                                      }
                                    }
                                  },
                                  "default" : {
                                    "required" : [ "description", "schema" ],
                                    "type" : "object",
                                    "properties" : {
                                      "description" : {
                                        "type" : "string"
[...]
